.container {
    width: 70%;
    margin: 0 auto;

}

.box {
    width: 100px;
    height: 100px;
    background: red;
    cursor: pointer;
    margin-top: 30px;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;    
    transition-delay: 3s;
    /* 
    transition: width 2s ease 3s ;   this is basically shortcut coding style
    */

    /* -webkit-   kullanilirsa  =>{ web tarayicilari ile alakalidir
    -moz- modzilla   etc}*/ 

}
.box:hover {
    width: 300px;
    height: 300px;
    background: yellow;
}

.imageArea {
    position: relative;
    width: 400px;
    height: 200px;
}

.imageTitle {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    transition:opacity  1s ease;
    
}

.imageTitle h2{
    background-color: rgba(231,76,60, 1);
    color: #fff;

}

.imageTitle:hover{
    opacity: 0.8;

}